@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";

em {
    font-style: normal;
}
label {
    font-weight: normal;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, .h1 {
    small {
        font-size: 14px;
    }
}

.section {
    margin: 0;
}
.section-s {
    margin-bottom: 10px;
}
.section-m {
    margin-bottom: 20px;
}
.section-l {
    margin-bottom: 35px;
}
.section-xl {
    margin-bottom: 60px;
}

.full-width {
    display:block;
}
.table.table-simple {
    th, td {
        font-size: 15px;
    }
    thead {
        background: #4A90E2;
        th, td {
            border: 0;
            color: #fff;
            line-height: 30px;
            font-weight: normal;
        }
    }
    tbody {
        th, td {
            border-top: 0;
            border-bottom: 1px solid #f2f2f2;
            &:first-child {
                border-left: 1px solid #f2f2f2;
            }
            &:last-child {
                border-right: 1px solid #f2f2f2;
            }
        }
        .item_col_id {
            border-left: 1px solid #f2f2f2;
        }
    }
}
.badge {
    min-width: 20px;
}
.bootstrap-switch.bootstrap-switch-wrapper {
    border-radius: 0;
    border: 0;
    .bootstrap-switch-container {
        border-radius: 0;
        span {
            border-radius: 0;
            padding: 0 10px; 
            line-height: 20px;
            font-size: 12px;
        }
        .bootstrap-switch-label {
            background-color: #50E3C2;
        }
        .bootstrap-switch-primary,
        .bootstrap-switch-default {
            background-color: #F2F2F2;
            color: #333;
        }
    }
}
.nothing {
    padding: 10px 0;
    color: #9B9B9B;
    font-size: 20px;
    text-align: center;
}
.nav-tabs {
    font-size: 16px;
    a {
        color: #4A4A4A;
    }
}
.nav-tabs-simple {
    > li.active > a {
        &, &:hover {
            border-color: #ececec;
            background: #fff;
            border-bottom-color: transparent;
        }
    }
}
.tabs-container-item {   
    display: none;
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        display: block;
    }
}
.pagination {
    margin: 0;
}
.sort {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    &.sort_desc {
        border-top: 4px dashed;
    }
    &.sort_asc {
        border-bottom: 4px dashed;
    }
}
.form-inline {
    .form-item {
        display: inline-block;
    }
    .form-item,
    .form-group {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
@grid-columns: 16;
.make-grid(16);
[class^="col-16"] {
    padding-left: 5px;
    padding-right: 5px;
}
.bg-muted {
    background: #f7f7f7;
}
.dlg {
    
}