em {
  font-style: normal;
}
label {
  font-weight: normal;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 small,
.h1 small {
  font-size: 14px;
}
.section {
  margin: 0;
}
.section-s {
  margin-bottom: 10px;
}
.section-m {
  margin-bottom: 20px;
}
.section-l {
  margin-bottom: 35px;
}
.section-xl {
  margin-bottom: 60px;
}
.full-width {
  display: block;
}
.table.table-simple th,
.table.table-simple td {
  font-size: 15px;
}
.table.table-simple thead {
  background: #4A90E2;
}
.table.table-simple thead th,
.table.table-simple thead td {
  border: 0;
  color: #fff;
  line-height: 30px;
  font-weight: normal;
}
.table.table-simple tbody th,
.table.table-simple tbody td {
  border-top: 0;
  border-bottom: 1px solid #f2f2f2;
}
.table.table-simple tbody th:first-child,
.table.table-simple tbody td:first-child {
  border-left: 1px solid #f2f2f2;
}
.table.table-simple tbody th:last-child,
.table.table-simple tbody td:last-child {
  border-right: 1px solid #f2f2f2;
}
.table.table-simple tbody .item_col_id {
  border-left: 1px solid #f2f2f2;
}
.badge {
  min-width: 20px;
}
.bootstrap-switch.bootstrap-switch-wrapper {
  border-radius: 0;
  border: 0;
}
.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-container {
  border-radius: 0;
}
.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-container span {
  border-radius: 0;
  padding: 0 10px;
  line-height: 20px;
  font-size: 12px;
}
.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-container .bootstrap-switch-label {
  background-color: #50E3C2;
}
.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-container .bootstrap-switch-primary,
.bootstrap-switch.bootstrap-switch-wrapper .bootstrap-switch-container .bootstrap-switch-default {
  background-color: #F2F2F2;
  color: #333;
}
.nothing {
  padding: 10px 0;
  color: #9B9B9B;
  font-size: 20px;
  text-align: center;
}
.nav-tabs {
  font-size: 16px;
}
.nav-tabs a {
  color: #4A4A4A;
}
.nav-tabs-simple > li.active > a,
.nav-tabs-simple > li.active > a:hover {
  border-color: #ececec;
  background: #fff;
  border-bottom-color: transparent;
}
.tabs-container-item {
  display: none;
}
.tabs-container-item:last-child {
  margin-bottom: 0;
}
.tabs-container-item.active {
  display: block;
}
.pagination {
  margin: 0;
}
.sort {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.sort.sort_desc {
  border-top: 4px dashed;
}
.sort.sort_asc {
  border-bottom: 4px dashed;
}
.form-inline .form-item {
  display: inline-block;
}
.form-inline .form-item,
.form-inline .form-group {
  margin-right: 10px;
}
.form-inline .form-item:last-child,
.form-inline .form-group:last-child {
  margin-right: 0;
}
.col-16-1, .col-16-2, .col-16-3, .col-16-4, .col-16-5, .col-16-6, .col-16-7, .col-16-8, .col-16-9, .col-16-10, .col-16-11, .col-16-12, .col-16-13, .col-16-14, .col-16-15, .col-16-16 {
  float: left;
}
.col-16-16 {
  width: 100%;
}
.col-16-15 {
  width: 93.75%;
}
.col-16-14 {
  width: 87.5%;
}
.col-16-13 {
  width: 81.25%;
}
.col-16-12 {
  width: 75%;
}
.col-16-11 {
  width: 68.75%;
}
.col-16-10 {
  width: 62.5%;
}
.col-16-9 {
  width: 56.25%;
}
.col-16-8 {
  width: 50%;
}
.col-16-7 {
  width: 43.75%;
}
.col-16-6 {
  width: 37.5%;
}
.col-16-5 {
  width: 31.25%;
}
.col-16-4 {
  width: 25%;
}
.col-16-3 {
  width: 18.75%;
}
.col-16-2 {
  width: 12.5%;
}
.col-16-1 {
  width: 6.25%;
}
.col-16-pull-16 {
  right: 100%;
}
.col-16-pull-15 {
  right: 93.75%;
}
.col-16-pull-14 {
  right: 87.5%;
}
.col-16-pull-13 {
  right: 81.25%;
}
.col-16-pull-12 {
  right: 75%;
}
.col-16-pull-11 {
  right: 68.75%;
}
.col-16-pull-10 {
  right: 62.5%;
}
.col-16-pull-9 {
  right: 56.25%;
}
.col-16-pull-8 {
  right: 50%;
}
.col-16-pull-7 {
  right: 43.75%;
}
.col-16-pull-6 {
  right: 37.5%;
}
.col-16-pull-5 {
  right: 31.25%;
}
.col-16-pull-4 {
  right: 25%;
}
.col-16-pull-3 {
  right: 18.75%;
}
.col-16-pull-2 {
  right: 12.5%;
}
.col-16-pull-1 {
  right: 6.25%;
}
.col-16-pull-0 {
  right: auto;
}
.col-16-push-16 {
  left: 100%;
}
.col-16-push-15 {
  left: 93.75%;
}
.col-16-push-14 {
  left: 87.5%;
}
.col-16-push-13 {
  left: 81.25%;
}
.col-16-push-12 {
  left: 75%;
}
.col-16-push-11 {
  left: 68.75%;
}
.col-16-push-10 {
  left: 62.5%;
}
.col-16-push-9 {
  left: 56.25%;
}
.col-16-push-8 {
  left: 50%;
}
.col-16-push-7 {
  left: 43.75%;
}
.col-16-push-6 {
  left: 37.5%;
}
.col-16-push-5 {
  left: 31.25%;
}
.col-16-push-4 {
  left: 25%;
}
.col-16-push-3 {
  left: 18.75%;
}
.col-16-push-2 {
  left: 12.5%;
}
.col-16-push-1 {
  left: 6.25%;
}
.col-16-push-0 {
  left: auto;
}
.col-16-offset-16 {
  margin-left: 100%;
}
.col-16-offset-15 {
  margin-left: 93.75%;
}
.col-16-offset-14 {
  margin-left: 87.5%;
}
.col-16-offset-13 {
  margin-left: 81.25%;
}
.col-16-offset-12 {
  margin-left: 75%;
}
.col-16-offset-11 {
  margin-left: 68.75%;
}
.col-16-offset-10 {
  margin-left: 62.5%;
}
.col-16-offset-9 {
  margin-left: 56.25%;
}
.col-16-offset-8 {
  margin-left: 50%;
}
.col-16-offset-7 {
  margin-left: 43.75%;
}
.col-16-offset-6 {
  margin-left: 37.5%;
}
.col-16-offset-5 {
  margin-left: 31.25%;
}
.col-16-offset-4 {
  margin-left: 25%;
}
.col-16-offset-3 {
  margin-left: 18.75%;
}
.col-16-offset-2 {
  margin-left: 12.5%;
}
.col-16-offset-1 {
  margin-left: 6.25%;
}
.col-16-offset-0 {
  margin-left: 0%;
}
[class^="col-16"] {
  padding-left: 5px;
  padding-right: 5px;
}
.bg-muted {
  background: #f7f7f7;
}
