<ul class="nav nav-tabs">
    <li class="active"><a href="">决策树分析</a></li>
    <li><a href="">自定义指标</a></li>
</ul>

<div class="tabs-container traffic-table section-l">
    <div class="tabs-container-item active">
        <div class="section-m">
            <span class="item-label">次级维度</span>
            
            <select class="selectpicker"
                data-width="auto" id="secDimen" v="step">
                <option class="secDimenOption" value="step">步骤</option>
                <option data-divider="true"></option>
                <option class="secDimenOption" value="date">日期</option>
                <option class="secDimenOption" value="time">时段</option>
                <option data-divider="true"></option>
                <option class="secDimenOption" value="userid">用户ID</option>
                <option class="secDimenOption" value="geo">地域</option>
                <option class="secDimenOption" value="geoip">地域&amp;IP</option>
                <option data-divider="true"></option>
                <option class="secDimenOption" value="sourcetype">渠道来源</option>
                <option class="secDimenOption" value="searchenginename">搜索引擎</option>
            </select>
            
            <div class="conversion-radio">
                <div class="radio" >
                    <label><input type="radio" name="device" class="device"> 全部</label>
                </div>
            
                <div class="radio">
                    <label><input type="radio" name="device" id="computer" class="device"> 计算机</label>
                </div>
            
                <div class="radio">
                    <label><input type="radio" name="device" id="mobile" class="device"> 移动设备</label>
                </div>
            </div>
            
            <button id="btn-filter" class="btn btn-link btn-filter" type="button">
                高级筛选 <span class="caret"></span>
            </button>
        </div>

        <div id="conversion-filter" class="conversion-filter" style="height: auto;">
            <div class="well">
                <form action="">
                    <div class="row condition-row-container">
                        <div class="col-md-offset-1 col-md-11 condition-row">
                            <select class="selectpicker typeselector" data-width="auto">
                                <option value='inc'>包含</option>
                                <option value="exclu">不包含</option>
                            </select> <select class="selectpicker dimenselector" data-width="auto">
                                <optgroup label="维度">
                                    <option value="step">步骤</option>
                                    <option value="date">日期</option>
                                    <option value="time">时段</option>
                                    <option value="userid">用户ID</option>
                                    <option value="geo">地域</option>
                                    <option value="geoip">地域IP</option>
                                    <option value="sourcetype">渠道类型</option>
                                    <option value="sourceurl">来源</option>
                                    <option value="searchenginename">搜索引擎</option>
                                    <option value="keywords">关键词</option>
                                </optgroup>
                                <optgroup label="转化指标">
                                    <option value="trancount">转化次数</option>
                                    <option value="completepercent">转化率</option>
                                    <option value="transvalue">转化价值</option>
                                    <option value="giveuppercent">放弃率</option>
                                </optgroup>
                            </select> <select class="selectpicker operationselector" data-width="auto">
                                <option value="contains">包含</option>
                                <option value="equals">等于</option>
                                <option value="startwith">开头为</option>
                            </select> <select class="selectpicker sourcetypeselector" data-width="auto">
                                <option value="">请选择</option>
                                 #set($brandIndex=0)
                                 #foreach($one in $sourcetype)
                                    #if($brandIndex != 0)
                                        <option value="$!{one.value}">$!{one.text}</option>
                                    #end
                                    #set($brandIndex=$brandIndex+1) 
                                 #end
                            </select> <select class="selectpicker areaselector" data-width="auto">
                                <option value="">请选择</option> #foreach($one in $sAreaId)
                                <option value="$!{one.value}">$!{one.text}</option> #end
                            </select> <span class="form-inline"> <input type="text"
                                class="form-control inputbox">
                            </span>

                            <button class="btn btn-link deletebtn" type="button">删除条件</button>
                        </div>
                    </div>

                    <div class="row addbuttondiv">
                        <div class="col-md-offset-1 col-md-11">
                            <div class="item-row-bd">
                                <button class="btn btn-link adddimen" type="button">
                                    <span class="glyphicon glyphicon-plus"></span> 添加维度或指标
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-11">
                            <div class="item-row-bd">
                                <button class="btn btn-primary" type="submit" id="save-conditions">保存选择</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="tabs-container-item active">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2"><label class="control-label">基础流量指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 会话</label>
                    <label class="checkbox-inline"><input type="checkbox"> 浏览量（PV）</label>
                    <label class="checkbox-inline"><input type="checkbox"> 访客数（UV）</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label class="control-label">访客指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 新访客数</label>
                    <label class="checkbox-inline"><input type="checkbox"> 新访客比率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 老访客数</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label class="control-label">吸引力指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 跳出率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 平均会话时长</label>
                    <label class="checkbox-inline"><input type="checkbox"> 平均访问页数</label>
                    <label class="checkbox-inline"><input type="checkbox"> 人均停留时长</label>
                    <label class="checkbox-inline"><input type="checkbox"> 人均浏览页数</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label class="control-label">广告指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 到达量（会话）</label>
                    <label class="checkbox-inline"><input type="checkbox"> 到达量（PV）</label>
                    <label class="checkbox-inline"><input type="checkbox"> 到达量（UV）</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label class="control-label">转化指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 转化次数</label>
                    <label class="checkbox-inline"><input type="checkbox"> 转化率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 转化率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 放弃率</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2"><label class="control-label">成交指标：</label></div>
                <div class="col-md-10">
                    <label class="checkbox-inline"><input type="checkbox"> 放弃率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 成交金额</label>
                    <label class="checkbox-inline"><input type="checkbox"> 成交转化率</label>
                    <label class="checkbox-inline"><input type="checkbox"> 平均成交金额</label>
                    <label class="checkbox-inline"><input type="checkbox"> 人均成交金额</label>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">确 定</button>
                    <span class="text-muted">（可同时选择<em class="text-danger">6</em>项）</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-m clearfix">
    <div class="pull-left">
        <label>转化目标：</label>
        <select class="selectpicker" data-width="auto">
            <option value="">目标1：目标1名称</option>
            <option value="">目标2：目标2名称</option>
            <option value="">目标3：目标3名称</option>
        </select>
    </div>

    <button class="pull-right btn btn-default">
        <span class="glyphicon glyphicon-export"></span>
        导出
    </button>
</div>

<div class="container-fluid table-grid" id="ad-table">
    <div class="row item-hd">
        <div class="col-md-1 item-order"></div>
        <div class="col-md-2">广告类型</div>
        <div class="col-md-2">会话</div>
        <div class="col-md-2">浏览量（PV）</div>
        <div class="col-md-2">访客数（UV）</div>
        <div class="col-md-1">新访客数</div>
        <div class="col-md-1">成交金额</div>
        <div class="col-md-1">详情</div>
    </div>

    #foreach($one in [1..3])
    <div class="item-bd">
        <div class="row">
            <div class="col-md-1">
                <input type="checkbox" checked class="chk-switch">
            </div>
            <div class="col-md-2">竞价SEM</div>
            <div class="col-md-2">3000</div>
            <div class="col-md-2">3450</div>
            <div class="col-md-2">200</div>
            <div class="col-md-1">99</div>
            <div class="col-md-1">&yen; 1999</div>
            <div class="col-md-1"><a href="">查看</a></div>
        </div>

        <div class="table-grid-item">
            <div class="row">
                <div class="col-md-offset-1 col-md-2">360</div>
                <div class="col-md-2">3000</div>
                <div class="col-md-2">3450</div>
                <div class="col-md-2">200</div>
                <div class="col-md-1">99</div>
                <div class="col-md-1">&yen; 1999</div>
                <div class="col-md-1"><a href="">查看</a></div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-2">百度</div>
                <div class="col-md-2">3000</div>
                <div class="col-md-2">3450</div>
                <div class="col-md-2">200</div>
                <div class="col-md-1">99</div>
                <div class="col-md-1">&yen; 1999</div>
                <div class="col-md-1"><a href="">查看</a></div>
            </div>
        </div>
    </div>
    #end
</div>

<div class="pull-left">每页显示 10 条信息</div>

<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#"><span>&lt;</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span>&gt;</span></a></li>
    </ul>
</div>
