<div class="section-m clearfix">
    <button class="pull-right btn btn-default">
        <span class="glyphicon glyphicon-export"></span>
        导出
    </button>
</div>

<div class="container-fluid table-grid">
    <div class="row item-hd">
        <div class="col-md-3">网站名称</div>
        <div class="col-md-2">会话</div>
        <div class="col-md-2">浏览量（PV）</div>
        <div class="col-md-2">访客数（UV）</div>
        <div class="col-md-1">跳出率</div>
        <div class="col-md-2">平均会话时长</div>
    </div>

    <div class="item-bd">
        #foreach($one in $site)
        <div class="row">
            <div class="col-md-3"><a href="#$one.id">$one.siteName</a></div>
            <div class="col-md-2">21,377</div>
            <div class="col-md-2">8,222</div>
            <div class="col-md-2">555</div>
            <div class="col-md-1">6.78%</div>
            <div class="col-md-2">00:07:33</div>
        </div>
        #end
    </div>
</div>

<div class="container-fluid table-grid">
    <div class="row item-hd">
        <div class="col-md-3">网站名称</div>
        <div class="col-md-2">会话</div>
        <div class="col-md-2">浏览量（PV）</div>
        <div class="col-md-2">访客数（UV）</div>
        <div class="col-md-1">跳出率</div>
        <div class="col-md-2">平均会话时长</div>
    </div>

    <div class="item-bd">
        #foreach($one in $site)
        <div class="item-bd">
            <div class="row">
                <div class="col-md-3"><a href="#$one.id">$one.siteName</a></div>
            </div>
            <div class="row">
                <div class="col-md-3">2015/06/23~2015/07/23</div>
                <div class="col-md-2">21,377</div>
                <div class="col-md-2">8,222</div>
                <div class="col-md-2">555</div>
                <div class="col-md-1">6.78%</div>
                <div class="col-md-2">00:07:33</div>
            </div>
            <div class="row">
                <div class="col-md-3">2015/06/23~2015/07/23</div>
                <div class="col-md-2">21,377</div>
                <div class="col-md-2">8,222</div>
                <div class="col-md-2">555</div>
                <div class="col-md-1">6.78%</div>
                <div class="col-md-2">00:07:33</div>
            </div>
            <div class="row">
                <div class="col-md-3">变化率</div>
                <div class="col-md-2"><span class="text-success">3.72%</span></div>
                <div class="col-md-2"><span class="text-danger">-6.25%</span></div>
                <div class="col-md-2"><span class="text-success">3.72%</span></div>
                <div class="col-md-1"><span class="text-success">-6.25%</span></div>
                <div class="col-md-2"><span class="text-danger">-6.25%</span></div>
            </div>
        </div>
        #end
    </div>
</div>

<div class="pull-left">每页显示 10 条信息</div>

<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#"><span>&lt;</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span>&gt;</span></a></li>
    </ul>
</div>