<div class="tabs-container common-summary container-fluid section-l">
    <div class="row tabs-container-item active text-center">
        <div class="col-md-6">
            <div class="common-summary-item-wrap">
                <div class="common-summary-item">
                    <label>充值成功金额</label>
                    <p class="text-primary">&yen;3,000.00</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="common-summary-item-wrap">
                <div class="common-summary-item">
                    <label>充值失败金额</label>
                    <p class="text-primary">&yen;3,000.00</p>
                </div>
            </div>
        </div>

    </div>
</div>