<div class="section-m clearfix">
    <div class="btn-group pull-left">
        <button type="button" value='hour' class="btn btn-default active">全部</button>
        <button type="button" value='day' class="btn btn-default">充值成功用户</button>
        <button type="button" value='day' class="btn btn-default">充值失败用户</button>
    </div>

    <button class="pull-right btn btn-default">
        <span class="glyphicon glyphicon-export"></span>
        导出
    </button>
</div>

<div class="container-fluid table-grid">
    <div class="row item-hd">
        <div class="col-md-1 item-order">序号</div>
        <div class="col-md-3">用户ID</div>
        <div class="col-md-4">充值成功金额</div>
        <div class="col-md-4">充值失败金额</div>
    </div>

    <div class="item-bd">
        <div class="row">
            <div class="col-md-1">1</div>
            <div class="col-md-3">1235</div>
            <div class="col-md-4">&yen;383848.00</div>
            <div class="col-md-4">0</div>
        </div>
        <div class="row">
            <div class="col-md-1">2</div>
            <div class="col-md-3">1235</div>
            <div class="col-md-4">&yen;383848.00</div>
            <div class="col-md-4">0</div>
        </div>
        <div class="row">
            <div class="col-md-1">3</div>
            <div class="col-md-3">1235</div>
            <div class="col-md-4">&yen;383848.00</div>
            <div class="col-md-4">0</div>
        </div>
    </div>
</div>

<div class="pull-left">每页显示 10 条信息</div>

<div class="text-center">
    <ul class="pagination">
        <li class="disabled"><a href="#"><span>&lt;</span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><span>&gt;</span></a></li>
    </ul>
</div>