<div class="section-l">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href=""><i class="glyphicon glyphicon-check"></i> 成交分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-unchecked"></i> 损失分析</a>
        </li>
    </ul>

    <div class="tabs-container common-summary container-fluid">

        <div class="row tabs-container-item active">
            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>成交次数</label>
                    <p class="text-primary">1072</p>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>成交金额</label>
                    <p class="text-primary">&yen;99,276,720.93</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>成交转化率</label>
                    <p class="text-primary">5.63%</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>平均成交金额</label>
                    <p class="text-primary">&yen;2,409.83</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>人均成交金额</label>
                    <p class="text-primary">&yen;1,409.80</p>
                </div>
            </div>
        </div>

        <div class="row tabs-container-item active">
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>损失金额</label>
                    <p class="text-primary">&yen;3,000.00</p>
                </div>
            </div>
        </div>

    </div>
</div>