<div class="section-l common-chart">
    <div class="section-m">
        <select class="selectpicker" title="选择指标" data-width="auto">
            <option class="trancount1">转化次数</option>
            <option class="completepercent1">转化率</option>
            <option class="transvalue1">转化价值</option>
            <option class="giveuppercent1">放弃率</option>
        </select>

        <span class="badge">vs</span>

        <select class="selectpicker" title="选择指标" data-width="auto">
            <option class="trancount">转化次数</option>
            <option class="completepercent">转化率</option>
            <option class="transvalue">转化价值</option>
            <option class="giveuppercent">放弃率</option>
        </select>
    </div>

    <div>
        <img src="images/_temp/chart_line.png" style="width:100%;" alt="">
    </div>

</div>