<div class="section-l">
    <div class="section-m">
        <select class="selectpicker" data-width="auto">
            <option value="">会话</option>
            <option value="">浏览量（PV）</option>
            <option value="">访客数（UV）</option>
        </select>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="images/_temp/map.png" alt="">
            </div>
        
            <div class="col-md-6">
                <img src="images/_temp/pie.png" alt="">    
            </div>
        </div>
    </div>
</div>