#macro (dlgForm)
<form action="">
    <div class="form-group">
        <label class="col-md-3 control-label">广告媒体：</label>    
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入或选择广告媒体" >
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">360</a></li>
                        <li><a href="#">百度</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">广告位置：</label>
        <div class="col-md-9">
            <div class="form-inline">
                <div class="form-item"><input type="text" class="form-control"></div>
                <div class="form-item">
                    <label>形式：</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-item">
                    <label>大小：</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">着陆页面：</label>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="http://">
        </div>
        <div class="col-md-1">
            <select class="selectpicker" data-width="auto">
                <option value="">部分</option>
                <option value="">全部</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">计费方式：</label>
        <div class="col-md-3">
            <div class="radio">
                <label><input type="radio" name="fee"> CPC单价（元）</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="radio">
                <label><input type="radio" name="fee"> 投放期总费用（元）</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">费用：</label>
        <div class="col-md-9 form-inline">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">投放天数：</label>
        <div class="col-md-9 form-inline">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group form-inline">
        <label class="col-md-3 control-label">开始日期：</label>
        <div class="col-md-3">
            <input type="text" class="form-control">
        </div>
        <div class="col-md-6">
            <label>结束日期：</label>
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">标签：</label>
        <div class="col-md-8">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="dlg-btns text-center">
        <button class="btn btn-primary" type="submit">保 存</button>
        <button class="btn btn-default" type="button">关 闭</button>
    </div>
</form>
#end

<div class="dlg dlg-fixed dlg-common dlg-brand dlg-brand-add">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>新建投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        #dlgForm()
        <div class="dlg-note">
            <div class="dlg-note-bd">
                <p>备注：</p>
                <ol>
                    <li>1、全部：指用户点击广告后实际跳转到的页面URL与在“着陆页面”输入框中输入的URL完全相同。</li>
                    <li>2、部分：指用户点击广告后实际跳转到的页面URL以“着陆页面”输入框中输入的URL开头。如广告跳转URL为：http://www.yoursite.com/product.html?pid=123</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="dlg dlg-fixed dlg-common dlg-brand dlg-brand-edit">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>编辑投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        #dlgForm()
    </div>
</div>