<div class="dlg dlg-fixed dlg-common dlg-edm-add">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>新建投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        <form action="">
            <div class="form-group">
                <label class="col-md-4 control-label">直邮名称：</label>    
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入或选择邮箱名称" >
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#">网易163</a></li>
                                <li><a href="#">gmail</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">是否监测邮件内链接：</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        <label><input type="checkbox"></label>
                    </div>
                </div>
            </div>

            <div class="dlg-btns text-center">
                <button class="btn btn-primary" type="submit">保 存</button>
                <button class="btn btn-default" type="button">关 闭</button>
            </div>
        </form>

    </div>
</div>