#macro (dlgForm)
<form action="">
    <div class="form-group">
        <label class="col-md-3 control-label">搜索引擎：</label>    
        <div class="col-md-1">
            <select class="selectpicker" data-width="auto">
                <option value="">百度</option>
                <option value="">360</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">广告系列：</label>    
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入或选择广告系列" >
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">理财-核心</a></li>
                        <li><a href="#">p2p-超核心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">关键词组：</label>    
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入或选择关键词组" >
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">理财-核心-人群</a></li>
                        <li><a href="#">p2p-超核心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">关键词：</label>    
        <div class="col-md-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">着陆页面：</label>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="http://">
        </div>
        <div class="col-md-1">
            <select class="selectpicker" data-width="auto">
                <option value="">部分</option>
                <option value="">全部</option>
            </select>
        </div>
    </div>

    <div class="dlg-btns text-center">
        <button class="btn btn-primary" type="submit">保 存</button>
        <button class="btn btn-default" type="button">关 闭</button>
    </div>
</form>
#end

<div class="dlg dlg-fixed dlg-ad dlg-ad-add">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>新建投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        #dlgForm()
        <div class="dlg-note">
            <div class="dlg-note-bd">
                <p>备注：</p>
                <ol>
                    <li>1、全部：指用户点击广告后实际跳转到的页面URL与在“着陆页面”输入框中输入的URL完全相同。</li>
                    <li>2、部分：指用户点击广告后实际跳转到的页面URL以“着陆页面”输入框中输入的URL开头。如广告跳转URL为：http://www.yoursite.com/product.html?pid=123</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="dlg dlg-fixed dlg-ad dlg-ad-edit">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>修改投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        #dlgForm()
    </div>
</div>

<div class="dlg dlg-fixed dlg-ad dlg-ad-url">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>生产URL</h2>
    </div>
    
    <div class="dlg-bd">
        <form action="">
            <div class="form-group">
                <p>
                    <textarea cols="30" rows="5" class="form-control"></textarea>
                </p>
                <p class="text-danger">*请将生成的URL复制到您在其他媒介的推广目标URL位置</p>
            </div>
            <div class="dlg-btns text-center">
                <button class="btn btn-primary" type="submit">复 制</button>
            </div>
        </form>
    </div>
</div>

<div class="dlg dlg-fixed dlg-ad dlg-ad-edit-all">
    <button class="btn close">&times;</button>
    
    <div class="dlg-hd">
        <h2>批量修改投放信息</h2>
    </div>
    
    <div class="dlg-bd form-horizontal">
        <form action="">
            <div class="form-group">
                <label class="col-md-3 control-label">着陆页面：</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="http://">
                </div>
                <div class="col-md-1">
                    <select class="selectpicker" data-width="auto">
                        <option value="">部分</option>
                        <option value="">全部</option>
                    </select>
                </div>
            </div>

            <div class="dlg-btns text-center">
                <button class="btn btn-primary" type="submit">保 存</button>
                <button class="btn btn-default" type="button">关 闭</button>
            </div>
        </form>
    </div>
</div>
