<div class="container-fluid table-grid">
    <div class="row item-hd">
        <div class="col-16-1"></div>
        <div class="col-16-2">搜索引擎</div>
        <div class="col-16-2">广告系列</div>
        <div class="col-16-2">关键词组</div>
        <div class="col-16-2">关键词</div>
        <div class="col-16-3">着陆页面URL</div>
        <div class="col-16-1">匹配方式</div>
        <div class="col-16-3">操作</div>
    </div>
    
    <div class="item-bd">
        <div class="row">
            <div class="col-16-1"><input type="checkbox"></div>
            <div class="col-16-2">百度</div>
            <div class="col-16-2">理财-核心</div>
            <div class="col-16-2">理财-核心-人群</div>
            <div class="col-16-2">月光族理财</div>
            <div class="col-16-3">
                <div class="text-limit">
                    <a href="">http://www.zhimajinrong.com/index.html</a>
                </div>
            </div>
            <div class="col-16-1">部分</div>
            <div class="col-16-3">
                <a href="" class="btn btn-link" title="查看生成的URL">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-pencil" title="修改投放信息"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-pause" title="禁用投放信息"></span>
                </a>
                <a href="" class="btn btn-link" title="删除投放链接">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-16-1"><input type="checkbox"></div>
            <div class="col-16-2">360</div>
            <div class="col-16-2">理财-核心</div>
            <div class="col-16-2">理财-核心-人群</div>
            <div class="col-16-2">月光族理财</div>
            <div class="col-16-3">
                <div class="text-limit">
                    <a href="">http://www.zhimajinrong.com/index.html</a>
                </div>
            </div>
            <div class="col-16-1">部分</div>
            <div class="col-16-3">
                <a href="" class="btn btn-link" title="查看生成的URL">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-pencil" title="修改投放信息"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-play" title="启用投放信息"></span>
                </a>
                <a href="" class="btn btn-link" title="删除投放链接">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row item-ft bg-muted">
        <div class="col-16-1">
            <div class="checkbox">
                <label><input type="checkbox"> 全选</label>
            </div>
        </div>
        <div class="col-16-offset-12 col-16-3">
            <div class="setting-ad-tools">
                <a href="" class="btn btn-link" title="投放链接下载">
                    <span class="glyphicon glyphicon-download"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-pencil" title="修改投放信息"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-play" title="启用投放信息"></span>
                </a>
                <a href="" class="btn btn-link">
                    <span class="glyphicon glyphicon-pause" title="禁用投放信息"></span>
                </a>
                <a href="" class="btn btn-link" title="删除投放链接">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
    </div>

</div>