<form action="" method="post">
    <div class="form-horizontal setting-channel">
        <div class="form-group">
            <div class="col-md-12 form-inline">
                <label>渠道类型名称：</label>
                <input type="text" class="form-control field-channel">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">参数1</h2>
            </div>
            
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">渠道类型名称：</label>
                    <div class="col-md-10 form-inline">
                        <select class="selectpicker" data-width="auto">
                            <option value="">广告来源</option>
                            <option value="">广告媒介</option>
                            <option value="">广告系列</option>
                            <option value="">广告分组</option>
                            <option value="">广告关键词</option>
                            <option value="">广告内容</option>
                        </select>

                        <label><input type="checkbox" > 是否付费渠道</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">匹配：</label>
                    <div class="col-md-10 form-inline">
                        <select class="selectpicker" data-width="auto">
                            <option value="">等于</option>
                        </select>

                        <input type="text" class="form-control field-match">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 form-inline">
                <select class="selectpicker" data-width="auto">
                    <option value="">And</option>
                    <option value="">Or</option>
                </select>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">参数2</h2>
            </div>
            
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">渠道类型名称：</label>
                    <div class="col-md-10 form-inline">
                        <select class="selectpicker" data-width="auto">
                            <option value="">广告来源</option>
                            <option value="">广告媒介</option>
                            <option value="">广告系列</option>
                            <option value="">广告分组</option>
                            <option value="">广告关键词</option>
                            <option value="">广告内容</option>
                        </select>

                        <label><input type="checkbox" > 是否付费渠道</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">匹配：</label>
                    <div class="col-md-10 form-inline">
                        <select class="selectpicker" data-width="auto">
                            <option value="">等于</option>
                        </select>

                        <input type="text" class="form-control field-match">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12 form-inline">
                <button class="btn btn-link">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    新增参数设置
                </button>
            </div>
        </div>

        <div class="text-center setting-btns">
            <button class="pull-right btn btn-link btn-cancel" type="button">取消</button>
            <button class="btn btn-primary" type="submit">确认</button>
        </div>

    
    
    </div>
</form>