<div class="header">
    <div class="wrap header-inner clearfix">
        <div class="header-logo">
            <em>天创统计</em><span>网站统计分析平台</span>
        </div>

        <ul class="header-nav">
            <li class="header-account"><span><i class="glyphicon glyphicon-user"></i> 当前账户：<em>$!{username}</em></span></li>
            <li class="header-password"><a href=""><i class="glyphicon glyphicon-lock"></i> 修改密码</a></li>
            <li class="header-logout"><a href="logout"><i class="glyphicon glyphicon-log-out"></i> 退出</a></li>
        </ul>
    </div>
</div>