<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="style/bootstrap/bootstrap.css" _group="bootstrap">
<link rel="stylesheet" href="style/bootstrap/bootstrap-select.css" _group="bootstrap">
<link rel="stylesheet" href="style/bootstrap/bootstrap-switch.css" _group="bootstrap">
<link rel="stylesheet" href="style/theme.css" _group="bootstrap">
<link rel="stylesheet" href="style/analysis.css">
<!--[if lte IE 8]>
<script src="js/lib/response.js"></script>
<![endif]-->
<script>
var app = {};
</script>