<div id="menu" class="menu" style="display: none;">
    <div class="menu-toggle">
        <label>收缩菜单</label>
        <span id="menu-toggle-bd"><em><span>开</span><span class="item-expand">关</span></em></span>
    </div>

    <ul class="menu-bd">
        <li #if($nav == 11) class="item-selected" #end><a href="" title="网站概况"><i class="glyphicon glyphicon-dashboard"></i>网站概况</a></li>
        <li
            #if($nav > 20 && $nav < 30) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="流量概况"><i class="glyphicon glyphicon-stats"></i>流量概况</a>
            <ul class="menu-sub">
                <li #if($nav == 21) class="item-sub-selected" #end><a href="">趋势分析</a></li>
                <li #if($nav == 22) class="item-sub-selected" #end><a href="">地域分布</a></li>
                <li #if($nav == 23) class="item-sub-selected" #end><a href="">系统环境</a></li>
            </ul>
        </li>
        <li class="item-dropdown">
            <a href="" title="实时流量"><i class="glyphicon glyphicon-tasks"></i>实时流量</a>
            <ul class="menu-sub">
                <li><a href="" title="概况">概况</a></li>
                <li><a href="" title="来源">来源</a></li>
                <li><a href="" title="行为">行为</a></li>
            </ul>
        </li>
        <li
            #if($nav > 40 && $nav < 50) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="渠道来源"><i class="glyphicon glyphicon-random"></i>渠道来源</a>
            <ul class="menu-sub">
                <li #if($nav == 41) class="item-sub-selected" #end><a href="" title="渠道概况">渠道概况</a></li>
                <li #if($nav == 42) class="item-sub-selected" #end><a href="" title="搜索引擎">搜索引擎</a></li>
                <li #if($nav == 43) class="item-sub-selected" #end><a href="" title="搜索关键词">搜索关键词</a></li>
                <li #if($nav == 44) class="item-sub-selected" #end><a href="" title="外部链接">外部链接</a></li>
            </ul>
        </li>
        <li
            #if($nav > 50 && $nav < 60) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="页面分析"><i class="glyphicon glyphicon-equalizer"></i>页面分析</a>
            <ul class="menu-sub">
                <li #if($nav == 51) class="item-sub-selected" #end><a href="" title="受访页面">受访页面</a></li>
                <li #if($nav == 52) class="item-sub-selected" #end><a href="" title="着陆页">着陆页</a></li>
                <li #if($nav == 53) class="item-sub-selected" #end><a href="" title="退出页">退出页</a></li>
                <li #if($nav == 54) class="item-sub-selected" #end><a href="" title="页面上下游">页面上下游</a></li>
                <li #if($nav == 55) class="item-sub-selected" #end><a href="" title="页面热力图">页面热力图</a></li>
            </ul>
        </li>
        <li><a href="" title="事件跟踪"><i class="glyphicon glyphicon-flag"></i>事件跟踪</a></li>
        <li 
            #if($nav > 70 && $nav < 80) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        ><a href="" title="转化分析">
            <i class="glyphicon glyphicon-retweet"></i>转化分析</a>
            <ul class="menu-sub">
                <li #if($nav == 71) class="item-sub-selected" #end><a href="conversion_overview.html" title="转化概览">转化概览</a></li>
                <li #if($nav == 72) class="item-sub-selected" #end><a href="conversion_path.html" title="转化路径">转化路径</a></li>
            </ul>
        </li>
        <li
            #if($nav > 80 && $nav < 90) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="广告分析"><i class="glyphicon glyphicon-scale"></i>广告分析</a>
            <ul class="menu-sub">
                <li #if($nav == 81) class="item-sub-selected" #end><a href="" title="广告概况">广告概况</a></li>
                <li #if($nav == 82) class="item-sub-selected" #end><a href="" title="竞价SEM">竞价SEM</a></li>
                <li #if($nav == 83) class="item-sub-selected" #end><a href="" title="品牌广告">品牌广告</a></li>
                <li #if($nav == 84) class="item-sub-selected" #end><a href="" title="渠道广告">渠道广告</a></li>
                <li #if($nav == 85) class="item-sub-selected" #end><a href="" title="直邮EDM">直邮EDM</a></li>
            </ul>
        </li>
        <li
            #if($nav > 90 && $nav < 100) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="电子商务"><i class="glyphicon glyphicon-yen"></i>电子商务</a>
            <ul class="menu-sub">
                <li #if($nav == 91) class="item-sub-selected" #end><a href="" title="标的类型业绩">标的类型业绩</a></li>
                <li #if($nav == 92) class="item-sub-selected" #end><a href="" title="标的业绩">标的业绩</a></li>
            </ul>
        </li>
        <li
            #if($nav > 100 && $nav < 110) 
                class="item-dropdown item-selected" 
            #else
                class="item-dropdown"
            #end
        >
            <a href="" title="系统设置"><i class="glyphicon glyphicon-cog"></i>系统设置</a>
            <ul class="menu-sub">
                <li #if($nav == 101) class="item-sub-selected" #end><a href="setting_goal.html" title="转化目标设置">转化目标设置</a></li>
                <li #if($nav == 102) class="item-sub-selected" #end><a href="" title="广告设置">广告设置</a></li>
                <li #if($nav == 103) class="item-sub-selected" #end><a href="" title="渠道设置">渠道设置</a></li>
                <li #if($nav == 104) class="item-sub-selected" #end><a href="" title="权限设置">权限设置</a></li>
            </ul>
        </li>
    </ul>
</div>