<div class="section-l conversion-chart">
    <div class="section-m">
        <select class="selectpicker conversion-overview-select" title="选择指标" data-width="auto">
            <option class="trancount1">转化次数</option>
            <option class="completepercent1">转化率</option>
            <option class="transvalue1">转化价值</option>
            <option class="giveuppercent1">放弃率</option>
        </select>

        <span class="badge">vs</span>

        <select class="selectpicker conversion-overview-select" title="选择指标" data-width="auto" id="conversion-overview-select2">
            <option class="trancount">转化次数</option>
            <option class="completepercent">转化率</option>
            <option class="transvalue">转化价值</option>
            <option class="giveuppercent">放弃率</option>
        </select>
    </div>

    <div id="conversion_overview_linechart"></div>

</div>