<h2>转化路径选择</h2>

<div class="conversion-path-filter section-xl">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">渠道类型：</label>
                <div class="col-md-10">
                    <select id = 'selectqd' class="selectpicker" data-width="140px">
                        #foreach($one in $sourcetype)
                        <option value="$!{one.value}">$!{one.text}</option>
                        #end
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">地域：</label>
                <div class="col-md-10">
                    <select id = 'selectqy' class="selectpicker" data-width="140px">
                        <option value="0">全部</option>
                        <option value="1">全国</option>
                        <option value="2">省市自治区</option>
                        <option value="3">其他</option>
                    </select>

                    <select id = 'selectsf' class="selectpicker" data-width="140px" >
                        #foreach($one in $sAreaId)
                        <option value="$!{one.value}">$!{one.text}</option>
                        #end
                    </select>
                </div>
            </div>            

            <div class="form-group">
                <label class="col-md-2 control-label">设备类型：</label>
                <div class="col-md-10">
                    <select id = 'selectsb' class="selectpicker" data-width="140px">
                        #foreach($one in $deviceId)
                        <option value="$!{one.value}">$!{one.text}</option>
                        #end
                    </select>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-l">
    <div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>

<!-- <div id="current_item" class="current_item">当前选中：<em style="color:">Firefox, 44.2, #50E3C2</em></div>
 -->
 </div>

<div class="conversion-path-detail conversion-path-theme-1 clearfix">
    <h2 class="conversion-path-title"></h2>

    <div class="conversion-path-url conversion-path-enter">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>进入路径url</th>
                    <th>会话</th>
                </tr>
            </thead>
            <tbody id='urlin'>
               <!--  #foreach($one in [1..10])
                <tr>
                    <td><div class="item-url">http://www.zhimajinrong.com/invest/235.html</div></td>
                    <td>20</td>
                </tr>
                #end -->
            </tbody>
        </table>
    </div>

    <div class="conversion-path-url conversion-path-exit">
        <table class="table">
            <thead>
                <tr>
                    <th>离开路径url</th>
                    <th>会话</th>
                </tr>
            </thead>
            <tbody id='urlout'>
                <!-- <tr>
                    <td colspan="2">
                        <div class="nothing">暂无数据</div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <div class="conversion-path-main">
        
<!--         <div class="conversion-path-label">步骤1</div>

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">步骤1标题内容</h3>
            </div>

            <div class="panel-body">
                <table>
                    <tr>
                        <td>进入次数：</td><td>1234445</td>
                    </tr>
                    <tr>
                        <td>进入率：</td><td>78.12%</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="conversion-path-label conversion-path-label-last">目标</div>

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">注册成功</h3>
            </div>

            <div class="panel-body">
                <table>
                    <tr>
                        <td>进入次数：</td><td>1234445</td>
                    </tr>
                    <tr>
                        <td>进入率：</td><td>78.12%</td>
                    </tr>
                </table>
            </div>
        </div> -->

    </div>

</div>
