<div class="row data-summary section-l">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-retweet"></span>
                    </div>
                    <div class="media-right">
                        <label class="full-width text-muted">转化次数</label>
                        <div class="text-primary">$!{transform.transCount}</div>
                        <div class="text-muted">42,000 (4.11%)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-transfer"></span>
                    </div>
                    <div class="media-right">
                        <label class="full-width text-muted">转化率</label>
                        <div class="text-primary">$!{transform.completePercent}%</div>
                        <div class="text-muted">42,000 (<span class="text-danger">-14.68%</span>)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-yen"></span>
                    </div>
                    <div class="media-right">
                        <label class="full-width text-muted">转化价值</label>
                        <div class="text-primary">&yen;$!{transform.transValue}</div>
                        <div class="text-muted">42,000 (4.11%)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </div>
                    <div class="media-right">
                        <label class="full-width text-muted">放弃率</label>
                        <div class="text-primary">$!{transform.giveupPercent}%</div>
                        <div class="text-muted">42,000 (4.11%)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>