<div id="conversion-table" class="conversion-table">

	<script type="text/html" id="condition-row">

						<select class="selectpicker typeselector" data-width="auto">
							<option value='inc'>包含</option>
							<option value="exclu">不包含</option>
						</select> 
                      <select class="selectpicker dimenselector" data-width="auto">
							<optgroup label="维度">
								<option value="step">步骤</option>
								<option value="date">日期</option>
								<option value="time">时段</option>
								<option value="userid">用户ID</option>
								<option value="geo">地域</option>
								<option value="geoip">地域IP</option>
								<option value="sourcetype">渠道类型</option>
								<option value="sourceurl">来源</option>
								<option value="searchenginename">搜索引擎</option>
								<option value="keywords">关键词</option>
							</optgroup>
							<optgroup label="转化指标">
								<option value="trancount">转化次数</option>
								<option value="completepercent">转化率</option>
								<option value="transvalue">转化价值</option>
								<option value="giveuppercent">放弃率</option>
							</optgroup>
						</select> <select class="selectpicker operationselector" data-width="auto">
							<option value="contains">包含</option>
							<option value="equals">等于</option>
							<option value="startwith">开头为</option>
						</select> <select class="selectpicker sourcetypeselector" data-width="auto">
							<option value="">请选择</option>
							 #set($brandIndex=0)
							 #foreach($one in $sourcetype)
							 	#if($brandIndex != 0)
									<option value="$!{one.value}">$!{one.text}</option>
							 	#end
							  	#set($brandIndex=$brandIndex+1) 
							 #end
						</select> <select class="selectpicker areaselector" data-width="auto">
							<option value="">请选择</option> #foreach($one in $sAreaId)
							<option value="$!{one.value}">$!{one.text}</option> #end
						</select> <span class="form-inline"> <input type="text"
							class="form-control inputbox">
						</span>

						<button class="btn btn-link deletebtn" type="button">删除条件</button>
					</div>
</script>


	<h2 class="section-m">决策树分析</h2>

	<div class="section-m">
		<span class="item-label" >次级维度</span> <select class="selectpicker"
			data-width="auto" id="secDimen" v="step">
			<option class="secDimenOption" value="step">步骤</option>
			<option data-divider="true"></option>
			<option class="secDimenOption" value="date">日期</option>
			<option class="secDimenOption" value="time">时段</option>
			<option data-divider="true"></option>
			<option class="secDimenOption" value="userid">用户ID</option>
			<option class="secDimenOption" value="geo">地域</option>
			<option class="secDimenOption" value="geoip">地域&amp;IP</option>
			<option data-divider="true"></option>
			<option class="secDimenOption" value="sourcetype">渠道来源</option>
			<option class="secDimenOption" value="searchenginename">搜索引擎</option>
		</select>

		<div class="conversion-radio">
			<div class="radio" >
				<label><input type="radio" name="device" class="device"> 全部</label>
			</div>

			<div class="radio">
				<label><input type="radio" name="device" id="computer" class="device"> 计算机</label>
			</div>

			<div class="radio">
				<label><input type="radio" name="device" id="mobile" class="device"> 移动设备</label>
			</div>
		</div>

		<button id="btn-filter" class="btn btn-link btn-filter" type="button">
			高级筛选 <span class="caret"></span>
		</button>
	</div>

	<div id="conversion-filter" class="conversion-filter">
		<div class="well">
			<form action="">
				<div class="row condition-row-container">
					<div class="col-md-offset-1 col-md-11 condition-row">
						<select class="selectpicker typeselector" data-width="auto">
							<option value='inc'>包含</option>
							<option value="exclu">不包含</option>
						</select> <select class="selectpicker dimenselector" data-width="auto">
							<optgroup label="维度">
								<option value="step">步骤</option>
								<option value="date">日期</option>
								<option value="time">时段</option>
								<option value="userid">用户ID</option>
								<option value="geo">地域</option>
								<option value="geoip">地域IP</option>
								<option value="sourcetype">渠道类型</option>
								<option value="sourceurl">来源</option>
								<option value="searchenginename">搜索引擎</option>
								<option value="keywords">关键词</option>
							</optgroup>
							<optgroup label="转化指标">
								<option value="trancount">转化次数</option>
								<option value="completepercent">转化率</option>
								<option value="transvalue">转化价值</option>
								<option value="giveuppercent">放弃率</option>
							</optgroup>
						</select> <select class="selectpicker operationselector" data-width="auto">
							<option value="contains">包含</option>
							<option value="equals">等于</option>
							<option value="startwith">开头为</option>
						</select> <select class="selectpicker sourcetypeselector" data-width="auto">
							<option value="">请选择</option>
							 #set($brandIndex=0)
							 #foreach($one in $sourcetype)
							 	#if($brandIndex != 0)
									<option value="$!{one.value}">$!{one.text}</option>
							 	#end
							  	#set($brandIndex=$brandIndex+1) 
							 #end
						</select> <select class="selectpicker areaselector" data-width="auto">
							<option value="">请选择</option> #foreach($one in $sAreaId)
							<option value="$!{one.value}">$!{one.text}</option> #end
						</select> <span class="form-inline"> <input type="text"
							class="form-control inputbox">
						</span>

						<button class="btn btn-link deletebtn" type="button">删除条件</button>
					</div>
				</div>

				<div class="row addbuttondiv">
					<div class="col-md-offset-1 col-md-11">
						<div class="item-row-bd">
							<button class="btn btn-link adddimen" type="button">
								<span class="glyphicon glyphicon-plus"></span> 添加维度或指标
							</button>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-1 col-md-11">
						<div class="item-row-bd">
							<button class="btn btn-primary" type="submit" id="save-conditions">保存选择</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="section-s clearfix">
		<button class="btn btn-link pull-right conversion-export"
			type="button">
			<span class="glyphicon glyphicon-save-file"></span> 导出数据
		</button>
	</div>

	<div class="container-fluid table-grid">
		<div class="row item-hd">
			<div class="col-md-1 item-order">序号</div>
			<div class="col-md-3">目标名称</div>
			<div class="col-md-4">目标达成位置</div>
			<div class="col-md-1">转化次数</div>
			<div class="col-md-1">转化率</div>
			<div class="col-md-1">转化价值</div>
			<div class="col-md-1">放弃率</div>
		</div>
		<div class="item-bd">
			#foreach($one in [1..5])
			<div class="row">
				<div class="col-md-1">${velocityCount}</div>
				<div class="col-md-3">注册成功</div>
				<div class="col-md-4">www.zhimajinrong.com</div>
				<div class="col-md-1 text-success">1,500</div>
				<div class="col-md-1 text-danger">30.08%</div>
				<div class="col-md-1">5,000.02</div>
				<div class="col-md-1">6.92%</div>
			</div>
			#end
		</div>
	</div>

	<div class="container-fluid table-grid">
		<div class="row item-hd">
			<div class="col-md-1 item-order">序号</div>
			<div class="col-md-2">目标名称</div>
			<div class="col-md-2">目标达成位置</div>
			<div class="col-md-3 item-step-hd">
				<button type="button" class="pull-right btn btn-link btn-xs">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				步骤
			</div>
			<div class="col-md-1">转化次数</div>
			<div class="col-md-1">转化率</div>
			<div class="col-md-1">转化价值</div>
			<div class="col-md-1">放弃率</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-2">示例_无对比时间段</div>
				<div class="col-md-2 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-3 text-right">
					<input type="checkbox" class="conversion-switch">
				</div>
				<div class="col-md-1">1,500</div>
				<div class="col-md-1">30.08%</div>
				<div class="col-md-1">5,000.02</div>
				<div class="col-md-1">69.92%</div>
			</div>

			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-path">路径1名称：直接注册成功</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-item">
						步骤1：注册信息填写页<br> （www.zhimajr.com/resign）
					</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-item">
						步骤2：注册信息填写页<br> （www.zhimajr.com/resign）
					</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
			</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-2">示例_有对比时间段</div>
				<div class="col-md-2 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-3 text-right">
					<input type="checkbox" checked class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
			</div>

			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-path">路径1名称：直接注册成功</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-item">
						步骤1：注册信息填写页<br> （www.zhimajr.com/resign）
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,700</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,200.00</div>
					<div class="col-md-1">69.92%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,600</div>
					<div class="col-md-1">77%</div>
					<div class="col-md-1">900.00</div>
					<div class="col-md-1">33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 col-md-offset-5 conversion-step-item">
						步骤2：注册信息填写页<br> （www.zhimajr.com/resign）
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,700</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,200.00</div>
					<div class="col-md-1">69.92%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,600</div>
					<div class="col-md-1">77%</div>
					<div class="col-md-1">900.00</div>
					<div class="col-md-1">33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid table-grid">
		<div class="row item-hd">
			<div class="col-md-1 item-order">序号</div>
			<div class="col-md-2">目标名称</div>
			<div class="col-md-2">目标达成位置</div>
			<div class="col-md-2 item-step-hd">
				<button type="button" class="pull-right btn btn-link btn-xs">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				日期
			</div>
			<div class="col-md-1">转化次数</div>
			<div class="col-md-1">转化率</div>
			<div class="col-md-1">转化价值</div>
			<div class="col-md-1">放弃率</div>
			<div class="col-md-1">转化路径</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-2">注册成功</div>
				<div class="col-md-2 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-2 text-right">
					<input type="checkbox" class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
				<div class="col-md-1">
					<a href="">查看</a>
				</div>
			</div>
			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-2 col-md-offset-5">2015/07/23</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-5">2015/07/22</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-5">2015/07/21</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid table-grid">
		<div class="row item-hd">
			<div class="col-md-1 item-order">序号</div>
			<div class="col-md-2">目标名称</div>
			<div class="col-md-3">目标达成位置</div>
			<div class="col-md-2 item-step-hd">
				<button type="button" class="pull-right btn btn-link btn-xs">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				时段
			</div>
			<div class="col-md-1">转化次数</div>
			<div class="col-md-1">转化率</div>
			<div class="col-md-1">转化价值</div>
			<div class="col-md-1">放弃率</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-2">示例_无对比时间段</div>
				<div class="col-md-3 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-2 text-right">
					<input type="checkbox" class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
			</div>
			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-2 col-md-offset-6">0点</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-6">1点</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-6">3点</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
			</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">2.</div>
				<div class="col-md-2">示例_有对比时间段</div>
				<div class="col-md-3 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-2 text-right">
					<input type="checkbox" checked class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
			</div>
			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-2 col-md-offset-6">0点</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-6">1点</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-6">2点</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid table-grid">
		<div class="row item-hd">
			<div class="col-md-1 item-order">序号</div>
			<div class="col-md-2">目标名称</div>
			<div class="col-md-2">目标达成位置</div>
			<div class="col-md-3 item-step-hd">
				<button type="button" class="pull-right btn btn-link btn-xs">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				渠道类型
			</div>
			<div class="col-md-1">转化次数</div>
			<div class="col-md-1">转化率</div>
			<div class="col-md-1">转化价值</div>
			<div class="col-md-1">放弃率</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">1.</div>
				<div class="col-md-2">示例_无对比时间段</div>
				<div class="col-md-2 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-3 text-right">
					<input type="checkbox" class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
			</div>
			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-3 col-md-offset-5">直接访问</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5">付费搜索</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5">社交网站</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
			</div>
		</div>

		<div class="item-bd">
			<div class="row">
				<div class="col-md-1">2.</div>
				<div class="col-md-2">示例_有对比时间段</div>
				<div class="col-md-2 item-step-bd">
					<div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
				</div>
				<div class="col-md-3 text-right">
					<input type="checkbox" checked class="conversion-switch">
				</div>
				<div class="col-md-1 conversion-table-count">1,700</div>
				<div class="col-md-1 conversion-table-conversion">30.08%</div>
				<div class="col-md-1 conversion-table-price">5,000.02</div>
				<div class="col-md-1 conversion-table-exit">69.92%</div>
			</div>
			<div class="table-grid-item">
				<div class="row">
					<div class="col-md-3 col-md-offset-5">直接访问</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5">付费搜索</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-md-offset-5">社交网站</div>
					<div class="col-md-1">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
					<div class="col-md-1 col-md-offset-5">1,200</div>
					<div class="col-md-1">89%</div>
					<div class="col-md-1">1,500.00</div>
					<div class="col-md-1">69.33%</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-1">变化率</div>
					<div class="col-md-1 col-md-offset-5">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-6.25%</span>
					</div>
					<div class="col-md-1">
						<span class="text-success">3.72%</span>
					</div>
					<div class="col-md-1">
						<span class="text-danger">-0.4%</span>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="conversion-searchtable" class="container-fluid table-grid conversion-searchtable">
        <div class="row item-hd">
            <div class="col-md-1 item-order">序号</div>
            <div class="col-md-2">目标名称</div>
            <div class="col-md-2">目标达成位置</div>
            <div class="col-md-2 item-step-hd">
                <button type="button" class="pull-right btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                搜索引擎
            </div>
            <div class="col-md-1">关键词</div>
            <div class="col-md-1">转化次数</div>
            <div class="col-md-1">转化率</div>
            <div class="col-md-1">转化价值</div>
            <div class="col-md-1">放弃率</div>
        </div>

        <div class="item-bd">
            <div class="row">
                <div class="col-md-1">1.</div>
                <div class="col-md-2">示例_无对比时间段</div>
                <div class="col-md-2 item-step-bd">
                    <div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
                </div>
                <div class="col-md-2 text-right">
                    <input type="checkbox" class="conversion-switch">
                </div>
            </div>
            #foreach($one in [1..3])
            <div class="row">
                <div class="col-md-2 col-md-offset-5 text-primary">自然搜索</div>
                <div class="col-md-1 col-md-offset-1">1,200</div>
                <div class="col-md-1">89%</div>
                <div class="col-md-1">1,500.00</div>
                <div class="col-md-1">69.33%</div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-5">百度</div>
                <div class="col-md-1 col-md-offset-1">1,200</div>
                <div class="col-md-1">89%</div>
                <div class="col-md-1">1,500.00</div>
                <div class="col-md-1">69.33%</div>
            </div>
            <div class="table-grid-item">
                <div class="row">
                    <div class="col-md-1 col-md-offset-7">芝麻</div>
                    <div class="col-md-1">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-md-offset-7">金融</div>
                    <div class="col-md-1">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
            </div>
            #end
        </div>

        <div class="item-bd">
            <div class="row">
                <div class="col-md-1">2.</div>
                <div class="col-md-2">示例_有对比时间段</div>
                <div class="col-md-2 item-step-bd">
                    <div class="item-url">http://www.zhimajinrong.com/invest/235.html</div>
                </div>
                <div class="col-md-2 text-right">
                    <input type="checkbox" class="conversion-switch">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-5"><span class="text-primary">自然搜索</span></div>
            </div>
            
            <div class="item-row-search">
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">百度</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
                    <div class="col-md-1 col-md-offset-5">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                <div class="row">
                     <div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
                    <div class="col-md-1 col-md-offset-5">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">变化率</div>
                    <div class="col-md-1 col-md-offset-5"><span class="text-success">1,200</span></div>
                    <div class="col-md-1"><span class="text-danger">89%</span></div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
            </div>

            <div class="table-grid-item">
                #foreach($one in [1..2])
                <div class="row">
                    <div class="col-md-2 col-md-offset-5">百度</div>
                    <div class="col-md-1">芝麻</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
                    <div class="col-md-1 col-md-offset-5">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                <div class="row">
                     <div class="col-md-2 col-md-offset-1">2015/06/23~2015/07/23</div>
                    <div class="col-md-1 col-md-offset-5">1,200</div>
                    <div class="col-md-1">89%</div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">变化率</div>
                    <div class="col-md-1 col-md-offset-5"><span class="text-success">1,200</span></div>
                    <div class="col-md-1"><span class="text-danger">89%</span></div>
                    <div class="col-md-1">1,500.00</div>
                    <div class="col-md-1">69.33%</div>
                </div>
                #end
            </div>


        </div>

    </div>

	<div class="pull-left">每页显示 10 条信息</div>

	<div class="text-center">
		<ul class="pagination">
			<li class="disabled"><a href="#"><span>&lt;</span></a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#"><span>&gt;</span></a></li>
		</ul>
	</div>
</div>