<div class="channel-section">    
    <div class="section-m">
        <select class="selectpicker" data-width="auto">
            <option value="">会话</option>
            <option value="">浏览量 (PV)</option>
            <option value="">访客数 (UV)</option>
        </select>
    </div>

    <div class="row channel-search-bd">
        <div class="col-md-4">
            <div class="channel-search-item"><img src="images/_temp/link_pie.png" alt=""></div>
        </div>

        <div class="col-md-8">
            <div class="channel-search-item"><img src="images/_temp/link_line.png" alt=""></div>
        </div>
    </div>
</div>

<div class="channel-section">    
    <div class="section-m">
        <select class="selectpicker" data-width="auto">
            <option value="">会话</option>
            <option value="">浏览量 (PV)</option>
            <option value="">访客数 (UV)</option>
        </select>
    </div>

    <div class="text-center"><img src="images/_temp/pie.png" alt=""></div>
</div>