<div class="channel-section">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href=""><i class="glyphicon glyphicon-stats"></i> 流量分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-user"></i> 访客分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-eye-open"></i> 吸引力分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-scale"></i> 广告分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-retweet"></i> 转化分析</a>
        </li>
        <li>
            <a href=""><i class="glyphicon glyphicon-yen"></i> 电子商务</a>
        </li>
    </ul>

    <div class="tabs-container common-summary container-fluid">
        <div class="row tabs-container-item active"><!-- .active 表示选中 -->
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>会话</label>
                    <p class="text-primary">19,726</p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>浏览量(PV)</label>
                    <p class="text-primary">43,729</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>访客数(UV)</label>
                    <p class="text-primary">5,826</p>
                </div>
            </div>
        </div>

        <div class="row tabs-container-item active">
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>新访客数</label>
                    <p class="text-primary">3,000</p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>老访客数</label>
                    <p class="text-primary">2,826</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>新访客比率</label>
                    <p class="text-primary">51.49%</p>
                </div>
            </div>
        </div>

        <div class="row tabs-container-item active">
            <div class="col-md-2 common-summary-col">
                <div class="common-summary-item">
                    <label>跳出率</label>
                    <p class="text-primary">10.26%</p>
                </div>
            </div>
            
            <div class="col-md-2 common-summary-col">
                <div class="common-summary-item">
                    <label>平均会话时长</label>
                    <p class="text-primary">00:03:52</p>
                </div>
            </div>

            <div class="col-md-2 common-summary-col">
                <div class="common-summary-item">
                    <label>平均访问页数</label>
                    <p class="text-primary">5.63</p>
                </div>
            </div>

            <div class="col-md-2 common-summary-col">
                <div class="common-summary-item">
                    <label>人均浏览页数</label>
                    <p class="text-primary">5.63</p>
                </div>
            </div>

            <div class="col-md-2 common-summary-col">
                <div class="common-summary-item">
                    <label>人均停留时长</label>
                    <p class="text-primary">00:03:52</p>
                </div>
            </div>
        </div>

        <div class="row tabs-container-item active">
            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>转化次数 </label>
                    <p class="text-primary">19,726</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>转化率</label>
                    <p class="text-primary">58.09%</p>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>转化价值</label>
                    <p class="text-primary">&yen; 5,479</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="common-summary-item">
                    <label>放弃率</label>
                    <p class="text-primary">9.03%</p>
                </div>
            </div>
        </div>

        <div class="row tabs-container-item channel-summary-commerce active">
            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>成交次数</label>
                    <p class="text-primary">11,483</p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="common-summary-item">
                    <label>成交金额</label>
                    <p class="text-primary">&yen; 27,672,093.62</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>成交转化率</label>
                    <p class="text-primary">5.63%</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>平均成交金额</label>
                    <p class="text-primary">&yen; 2,409.83</p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="common-summary-item">
                    <label>人均成交金额</label>
                    <p class="text-primary">&yen; 1,409</p>
                </div>
            </div>
        </div>

    </div>
</div>
