<div class="section-l common-summary">
    <div class="row tabs-container-item active">
        <div class="col-md-2 common-summary-col">
            <div class="common-summary-item">
                <label>浏览量(PV)</label>
                <p class="text-primary">43,729</p>
            </div>
        </div>
        
        <div class="col-md-2 common-summary-col">
            <div class="common-summary-item">
                <label>访客数(UV)</label>
                <p class="text-primary">5,826</p>
            </div>
        </div>

        <div class="col-md-2 common-summary-col">
            <div class="common-summary-item">
                <label>平均会话时长</label>
                <p class="text-primary">00:05:30</p>
            </div>
        </div>

        <div class="col-md-2 common-summary-col">
            <div class="common-summary-item">
                <label>跳出率</label>
                <p class="text-primary">65.63%</p>
            </div>
        </div>

        <div class="col-md-2 common-summary-col">
            <div class="common-summary-item">
                <label>退出率</label>
                <p class="text-primary">52%</p>
            </div>
        </div>
    </div>
</div>